.header{
    width: 700px;
    /* height: 145px;
    left: 201px; */
    top: 1940px;
    font-family: 'Roboto', sans-serif; 
    font-style: italic;
    font-size: 98px;
    font-weight: 700;
}
.para{
width: 613px;
height: 116px;
left: 198px;
top: 2109px;
font-weight: 300;
font-size: 24px;
line-height: 29px;
margin-left: 20px;
}


.number{
font-style: italic;
font-weight: 700;
font-size: 70px;
line-height: 139.69%;
color: white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
width: 45px;
height: 84px;
left: 220px;
top: 2268px;
margin-left: 123px;
margin-top: 0px;
margin-bottom: 0px;
}
.number1{
    
}





